/* whole box style  */
.result-box h1{
    font-weight: 500;
    cursor: url('../../img/mouse-cursor-food.png'),auto;
}

/* list style  */
.result-list{
    list-style-type: none;
}
.result-list:hover{
    
}
