/* for custom scrolll bar on result of search  */
/* Whole box style */
.result-box h1 {
    font-weight: 500;
    cursor: url('../../img/mouse-cursor-food.png'), auto;
  }
  
  /* List style */
  .result-list li {
    list-style-type: none;
}
  
  .result-list:hover {
    color: red;
    background-color: black;
  }
  
  /* Container for the results with a fixed height and custom scrollbar */
  .result-list-container {
    max-height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }
  
  .result-list-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .result-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .result-list-container::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .result-list-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  