.App {
  text-align: center;
}

* {
  cursor: none;
}

.cursor {
 background: url('/src/img/mouse-cursor-food.png');
 background-repeat:none;
 background-size: 100%;
  height: 90px;
  width: 90px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}